<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Add books here</title>
</head>
<body>
<h1>Add Book</h1>
<form action="#" th:action="@{/admin/add/books}" th:object="${book}" method="post">
    <p>Book Name: <input type="text" th:field="*{name}"/></p>
    <p>Author: <input type="text" th:field="*{author}"/></p>
    <p>Price: <input type="text" th:field="*{price}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>