<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cheeky breeky</title>
</head>
<body>
<h1>
    Buy books at discounted price
</h1>
<p>
    Books available atm:
</p>
<table>
    <tr>
        <th>BookID</th>
        <th>Book name</th>
        <th>Author</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.bookid}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td><button type="button"> Select</button></td>
    </tr>
</table>
</body>
</html>